$debug =				false

// ANIMATION

$fast-transition = 		0.2s all ease-in-out

// COLOURS

green =					#2ecc71
turquoise =				#1abc9c
blue =					#3498db
purple =				#9b59b6
cobalt =				#34495e
yellow =				#f1c40f
orange =				#e67e22
red =					#e74c3c
lightest-grey =			#ecf0f1
light-grey =			#95a5a6
grey =					#bdc3c7
dark-grey =				#7f8c8d
white =					#fff
black =					#222


// GRID

$palm =					"(min-width: 0em)"
$lap =					"(min-width: 48em)"
$desk =					"(min-width: 75em)"

$column-width = 		60px
$gutter-width = 		20px
$columns = 				12
$total-width = 			100%


// LAYOUT
$spacing =				1.5em


// TYPOGRAPHY

@import					url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,700")

$sans-serif-font =		"Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$serif-font =			"Georgia"

$line-height =			1.65
$font-size =			112.5
$font-base =			16 * ($font-size/100)
$font-family =			$sans-serif-font
$font-weight =			300
$font-properties =		$font-weight, $line-height, $font-size, $font-family

$font-sizes =			tera 117,giga 90,mega 72,alpha 60,beta 48, gamma 36,delta 24,epsilon 21, zeta 18
$type-scale-unit-value = em

// Colors
$text-colour =			#444

// Wordwrap
$indent-val =			1.5em