.navbar
	group()
	background 				rgba(white, 0.8)
	font-size 				0.8em

.navbar-logo
	color 					$text-colour
	float 					left
	padding 				0.5em
	text-decoration 		none

	img
		height 				1.2em
		margin-right 		0.5em
		vertical-align 		middle
		width 				auto

.navbar-list
	inline-list()
	unstyled-list()
	float 					right

.navbar-list-item
	a
		display 			block
		padding 			0.5em
		text-decoration 	none

		&:active,
		&:focus,
		&:hover
			background-color white