table
	width 					100%

	th,
	td
		padding 			$spacing

.table--fixed
	table-layout 			fixed

.table--cells 
	th,
	td
		border 				1px solid light-grey

.table--rows
	th,
	td
		border-bottom 		1px solid light-grey

.table--columns
	border-left 			1px solid light-grey

	th,
	td
		border-right 		1px solid light-grey

.table--striped
	tr:nth-child(2n)
		background-color 	lightest-grey